<?php
/**
 * @var \Beoguma\Model\Item $item
 * @var array $letnje
 * @var array $zimske
 */
?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css?2" media="all">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<body>
<div id="beoguma-widget">
    <div class="mainWrapper">
        <div id="headWrapper">
            <h3>Gume za <?=$model?></h3>

            <ul id="tabList">
                <li class="active">
                    <a class="summerTitle tabLink" href="#">Letnje gume <img src="/img/letnje-gume-sticker.png" /></a>
                </li>
                <li class="inactive">
                    <a class="winterTitle tabLink" href="#">Zimske gume <img src="/img/zimske-gume-sticker.png" /></a>
                </li>
            </ul>
        </div>

        <div>
            <div id="content">
                <div>
                    <div class="left-arrow"><a href="#"><img src="/img/strelica-levo.png" alt="arrow left" /></a></div>
                    <div class="carousel letnje">
                        <?php foreach ($letnje as $item): ?>
                        <div class="">
                            <a target="_blank" href="<?=$item->compileUrl()?>" title="<?=$item->getName()?>">
                                <img class="itemImage" src="<?=$item->getImage(); ?>" alt="<?=$item->getName()?>" />
                            </a>
                            <p class="titleWrapper"><?=$item->getManufacturer() . ' ' . $item->getName()?></p>
                            <p><?=$item->compileParams()?></p>
                            <p><strong><?=$item->getPrice()?> RSD</strong></p>
                            <a target="_blank" href="<?=$item->compileUrl()?>" class="button">Pogledaj</a>
                        </div>
                        <?php endforeach; ?>
                    </div>
                    <div class="carousel zimske">
                        <?php foreach ($zimske as $item): ?>
                            <div class="">
                                <a href="#" title="<?=$item->getName()?>">
                                    <img class="itemImage" src="<?=$item->getImage(); ?>" alt="<?=$item->getName()?>" />
                                </a>
                                <p class="titleWrapper"><?=$item->getManufacturer() . ' ' . $item->getName()?></p>
                                <p><?=$item->compileParams()?></p>
                                <p><strong><?=$item->getPrice()?> RSD</strong></p>
                                <a target="_blank" href="<?=$item->compileUrl()?>" class="button">Pogledaj</a>
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <div class="right-arrow"><a href="#"><img src="/img/strelica-desno.png" alt="arrow right" /></a></div>
                </div>

                <?php if (!empty($zimske) || !empty($letnje)): ?>
                <div id="beoguma-logo">
                    <p><strong>NAPOMENA</strong>: Prikazane cene su informativnog karaktera. Referentne cene omogućio <strong>Auto Centar Beoguma</strong>.</p>
                    <a target="_blank" href="http://www.beoguma.rs" title="Beoguma"><img src="/img/beoguma-logo.png" /></a>
                </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.letnje').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        prevArrow: '.left-arrow',
        nextArrow: '.right-arrow'
    });
    $('.zimske').hide();
    $('.tabLink').click(function(e) {
        e.preventDefault();
        //if this button is not active
        if ($(this).parent().hasClass('active') == false) {
            var active = $('.active');
            var inactive = $('.inactive');
            active.attr('class', 'inactive');
            inactive.attr('class', 'active');
            $('.letnje').toggle();
            $('.zimske').toggle();

            //first link is LETNJE hardcoded by season
            if ($('#tabList li:first').hasClass('active')) {
                $('.zimske').slick('unslick');
                $('.letnje').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    prevArrow: '.left-arrow',
                    nextArrow: '.right-arrow'
                });
            } else {
                $('.letnje').slick('unslick');
                $('.zimske').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    prevArrow: '.left-arrow',
                    nextArrow: '.right-arrow'
                });
            }
        }
    });
});
</script>
</body>
</html>